# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/hackathon

# Server
PORT=5000

# ML Service
ML_SERVICE_URL=http://localhost:5001
ML_PORT=5001

# ESP32
ESP32_PORT=COM9          # Windows: COM9 | Linux/Mac: /dev/ttyUSB0